html {
    font-size: 18px;
}
body {
    width: 100vw;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Goudy Bookletter 1911', serif;
    letter-spacing: .2rem;
    transform: scale(1, .9);
}
p {
    font-family: 'Barlow', sans-serif;
}
/* colored containters */
.whiteContainer {
    width: 100vw;
    background-color: #fafafa;
    color: #539982;
    text-align: center;
    border-style: none;
    border-color: #a29160;
}
.aquaContainer {
    width: 100vw;
    background-color: #539982;
    color: white;
    border: solid white 0rem;
}

/* Section headings */
.sectionHeadingGrid{
    width: 100vw;
    padding: .2rem 0 .2rem 0;
    display: grid;
    grid-template-rows: .5rem 3.5rem .5rem;
    place-items: center;
}

.sectionHeadingTop{
    grid-area: 1/1/2/2;
    border-top: solid .15em;
    border-bottom: solid .15em;
    width: 100vw;
    height: 100%;
}
.sectionHeadingText{
    grid-area: 2/1/3/2;
}
.sectionHeadingBottom{
    grid-area: 3/1/4/2;
    border-top: solid .15em;
    border-bottom: solid .15em;
    width: 100vw;
    height: 100%;
}
/* bowl pricing styles*/
.bowlPriceHeading{
    width: 100vw;
    display: grid;
    grid-column-gap: 1em;
    grid-template-rows: 2em 2em;
    grid-template-columns: 1fr 15em 20em 8em 8em 1fr;
}
.bowlPriceHeading img {
    width: 50%;
    margin: auto;
}
.bowlPriceHeading p {
    text-align: center;
    margin: auto;
}
.lilBowlImg {
    grid-area: 1/4/2/5;
}
.lilBowlText{
    grid-area: 2/4/3/5;
}
.bigBowlImg {
    grid-area: 1/5/2/6;
}
.bigBowlText {
    grid-area: 2/5/3/6;
}
/* signature bowl styles*/
.bowlGrid {
    width: 100vw;
    display: grid;
    grid-template-rows: 3em 10em;
    grid-template-columns: 1fr 15em 20em 8em 8em 1fr;
    grid-gap: 1em;
    color: #539982;
}
.bowlImage {
    /*background-color: #B8336A;*/
    grid-area: 1/2/3/3;
    border-right: solid .15em rgb(162, 145, 96);
    justify-content: center;
}
.bowlImage img {
    width: 80%;
    padding-top: 1em;
}
.bowlTitle {
    /*background-color: #726DA8;*/
    grid-area: 1/3/2/4;
    margin: auto;
}
.smallPrice {
    /*background-color: #7D8CC4;*/
    grid-area: 1/4/2/5;
    margin: auto;
}
.largePrice {
    /*background-color: #A0D2DB;*/
    grid-area: 1/5/2/6;
    margin: auto;
}
.bowlDescription {
    /*background-color: #C490D1;*/
    grid-area: 2/3/3/4;
    text-align: left;
    color: #605e5e;
}
/* Side Dishes and Snacks */
#sideDishesSnacksTitlesGrid {
    display: grid;
    grid-template-rows: 2rem 3rem;
    grid-template-columns: 1fr 1fr 1fr 2fr 1fr;
    justify-items: center;
}
#salads {
    grid-area: 1/2/2/3; 
}
#pitza {
    grid-area: 1/3/2/4;
}
#sides {
    grid-area: 1/4/2/5;
}
#saladPrice {
    grid-area: 2/2/3/3;
}
#pitzaPrice {
    grid-area: 2/3/3/4;
}
#sidesPrice {
    grid-area: 2/4/3/5;
}
.sideDishesSnacksGrid {
    display: grid;
    grid-template-rows: 3rem 7rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
}
.saladTitle {
    grid-area: 1/2/2/3;
    border-right: solid .1rem;
    border-left: solid .2rem;
}
.saladDescription {
    grid-area: 2/2/3/3;
    border-right: solid .1rem;
    border-left: solid .2rem;
}
.pitzaTitle {
    grid-area: 1/3/2/4;
    border-right: solid .1rem;
    border-left: solid .1rem;
}
.pitzaDescription {
    grid-area: 2/3/3/4;
    border-right: solid .1rem;
    border-left: solid .1rem;
}
.sideLeftTitle {
    grid-area: 1/4/2/5;
    border-left: solid .1rem;
}
.sideLeftDescription {
    grid-area: 2/4/3/5;
    border-left: solid .1rem;
}
.sideRightTitle {
    grid-area: 1/5/2/6;
    border-right: solid .2rem;
}
.sideRightDescription {
    grid-area: 2/5/3/6;
    border-right: solid .2rem;
}