html {
}
body {
    }
    
/* header styles*/
header {
}
.logo {
    width: 190px;
    margin: auto;
}
nav{
    border-style: solid;
    border-width: 1;
}
.nav{
    display: flex;
    list-style-type: none;
}
.box{
    width: 12.5%;
    border-style: solid;
    border-color: red;
    border-width: 1;
    text-align: center;
}

/* signature bowls */
.signatureBowls {
    display: grid;
    grid-template-rows: repeat(8, 300px);
    grid-template-columns: repeat( 4, 25%);
}

#signatureBowls{
    grid-area: 1 / 1 / 2 / 5;
}
.bowl{
    max-width: 100%;
    max-height: 100%;
    
}
#tofuBowl{
    width: 100%;
    grid-area: 2 / 1 / 3 / 2;
}

.row {
    display: flex;
}

.bowlImage{
    grid-area: 2 / 2 / 5 / 3;
    border-style: solid;
    border-color: red;
    border-width: 1;
    text-align: center;
}
.bowlTitle{
    grid-area: 2 / 4 / 3 / 5;
    border-style: solid;
    border-color: red;
    border-width: 1;
    text-align: center;
}
.bowlDescription{
    grid-area: 4 / 4 / 5 / 5;
    border-style: solid;
    border-color: red;
    border-width: 1;
    text-align: center;
}
.smallPrice {
    grid-area: 2 / 6 / 3 / 7;
    border-style: solid;
    border-color: red;
    border-width: 1;
    text-align: center;
}
.largePrice{
    grid-area: 2 / 8 / 3 / 9;
    border-style: solid;
    border-color: red;
    border-width: 1;
    text-align: center;
}

.signatureBowlGrid{
    display: grid;
    grid-template-rows: fr1 fr5 fr1 fr12 fr1;
    grid-template-columns: fr1 fr20 fr1 fr25 fr1 fr12 fr1 fr12 fr1;
}
