html {
    font-size: 18px;
}
body {
    width: 100vw;
    margin: 0;
}
/* typography */
h1, h2, h3, h4, h5, h6{
    font-family: 'Barlow', sans-serif;
    letter-spacing: .2rem;
    transform: scale(1, .9);
    margin: 0;
}
p {
    font-family: 'Barlow', sans-serif;
    margin: 0;
}

/* header */
.logo {
    display: block;
    margin: 1.2rem auto 0 auto;
}
.mainNav ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
    margin: 1.2rem 12rem;
    font-family: 'Barlow', sans-serif;
    font-weight: 800;
}

/* hiring */
#hiring {
    background: rgba(39,105,85,0.98);
}

.hiring {
    display: block;
    margin: 0 auto;
}

/* create your own bowl (cyob) */
#cyob {
    background-image: url("images/cyobBG.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-rows:10rem 10rem 35rem;
    grid-template-columns: 80% 20%;
}
.cyob{
    grid-area: 1/1/2/2;
    margin: auto 0 auto 47%;
}
.cyobSizes {
    grid-area: 2/1/3/3;
    margin: auto auto;
}
.cyobSteps {
    grid-area: 3/1/4/3;
    margin: auto auto;
}

/*section heading white background*/
.sectionHeadingGrid{
    width: 100vw;
    display: grid;
    grid-template-rows: .5rem 3.5rem .5rem;
}

.sectionHeadingTop{
    grid-area: 1/1/2/2;
    border-top: solid .12rem rgb(162, 145, 96);
    border-bottom: solid .15rem rgb(162, 145, 96);
}
.sectionHeadingText{
    grid-area: 2/1/3/2;
    text-align: center;
    color: #539982;
    margin: .3rem 0 0 0;
}
.sectionHeadingBottom{
    grid-area: 3/1/4/2;
    border-top: solid .12rem rgb(162, 145, 96);
    border-bottom: solid .15rem rgb(162, 145, 96);
}
/* greenish heading */
.sectionHeadingGridGreen{
    width: 100vw;
    display: grid;
    grid-template-rows: .5rem 3.5rem .5rem;
    background-color: rgba(83, 153, 130, 0.77);
}
.sectionHeadingTopGreen{
    grid-area: 1/1/2/2;
    border-top: solid .12rem rgb(255, 255, 255);
    border-bottom: solid .15rem rgb(255, 255, 255);
}
.sectionHeadingTextGreen{
    grid-area: 2/1/3/2;
    text-align: center;
    color: #ffffff;
    margin: .3rem 0 0 0;
}
.sectionHeadingBottomGreen{
    grid-area: 3/1/4/2;
    border-top: solid .12rem rgb(255, 255, 255);
    border-bottom: solid .15rem rgb(255, 255, 255);
}
/* bowlSizesHeading */
#bowlSizesHeading{
    display: grid;
    grid-template-rows: 5rem;
    grid-template-columns: 30% 40% 15% 15%;
    margin: 0 13rem 0 13rem;
    text-align: center;
}
#lilBowl{
    grid-area: 1/3/2/4;
}
#bigBowl{
    grid-area: 1/4/2/5;
}

/* sigBowlItem */
.sigBowlItem{
    display: grid;
    grid-template-rows: 3rem 8rem;
    grid-template-columns: 25% 45% 15% 15%;
    margin: 0 13rem 0 13rem;
    text-align: center;
    color: #00604c;
}
.sigBowlImg{
    grid-area: 1/1/3/2;
    border-right: #a29160 solid .2rem;
}
.sigBowlImg img {
    height: 90%;
}
.sigBowlTitle{
    grid-area: 1/2/2/3;
}
.sigBowlDesc{
    grid-area: 2/2/3/3;
    color: #605e5e;
    padding: 0 .5rem 0 .5rem;
}
.sigBowlLilPrice{
    grid-area: 1/3/2/4;
}
.sigBowlBigPrice{
    grid-area: 1/4/2/5;
}
#wrapOption{
    display: block;
    margin: 2rem auto;
}

/* sides grid area */
#sidesContainer {
    background-color: rgba(83, 153, 130, 0.77);
    color: #ffffff;
    text-align: center;
    padding: 0 14rem;
}
.sidesTitleGrid {
    display: grid;
    grid-template-rows:7rem;
    grid-template-columns: 25% 25% 50%;
    text-align: center;
}
.salads {
    grid-area: 1/1/2/2;
    padding: 1rem;
}
.pitzaPies {
    grid-area: 1/2/2/3;
    padding: 1rem;
}
.sides {
    grid-area: 1/3/2/5;
    padding: 1rem;
}
.sidesGrid {
    display: grid;
    grid-template-rows: 5rem;
    grid-template-columns: 25% 25% 25% 25%;
}
.sideGrid, p {
    color: black;
}
.saladsTitle {
    grid-area: 1/1/2/2;
    border-left: .2rem white solid;
    padding: 1rem;
}
.saladsDescription {
    grid-area: 2/1/3/2;
    border-left: .2rem white solid;
    padding: 1rem;
}
.pitzaPiesTitle {
    grid-area: 1/2/2/3;
    border-left: .2rem white solid;
    padding: 1rem;
}
.pitzaPiesDescription {
    grid-area: 2/2/3/3;
    border-left: .2rem white solid;
    padding: 1rem;
}
.sidesLeftTitle {
    grid-area: 1/3/2/4;
    border-left: .2rem white solid;
    padding: 1rem;
}
.sidesLeftDescription {
    grid-area: 2/3/3/4;
    border-left: .2rem white solid;
    padding: 1rem;
}
.sidesRightTitle {
    grid-area: 1/4/2/5;
    border-right: .2rem white solid;
    padding: 1rem;
}
.sidesRightDescription {
    border-right: .2rem white solid;
    grid-area: 2/4/3/5;
    padding: 1rem;
}