/* Side Dishes and Snacks */
#sideDishesSnacksTitlesGrid {
    display: grid;
    grid-template-rows: 2rem 3rem;
    grid-template-columns: 1fr 1fr 1fr 2fr 1fr;
    justify-items: center;
}
#salads {
    grid-area: 1/2/2/3; 
}
#pitza {
    grid-area: 1/3/2/4;
}
#sides {
    grid-area: 1/4/2/5;
}
#saladPrice {
    grid-area: 2/2/3/3;
}
#pitzaPrice {
    grid-area: 2/3/3/4;
}
#sidesPrice {
    grid-area: 2/4/3/5;
}
.sideDishesSnacksGrid {
    display: grid;
    grid-template-rows: 3rem 5rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
#tobbouleh {
    grid-area: 1/2/2/3;
    border-right: solid .1rem;
    border-left: solid .2rem;
}
#tobboulehDescription {
    grid-area: 2/2/3/3;
    border-right: solid .1rem;
    border-left: solid .2rem;
}
#zaatar {
    grid-area: 1/3/2/4;
    border-right: solid .1rem;
    border-left: solid .1rem;
}
#zaatarDescription {
    grid-area: 2/3/3/4;
    border-right: solid .1rem;
    border-left: solid .1rem;
}
#falafelSnack {
    grid-area: 1/4/2/5;
    border-left: solid .1rem;
}
#falafelSnackDescription {
    grid-area: 2/4/3/5;
    border-left: solid .1rem;
}
#stuffedGrapeLeaves {
    grid-area: 1/5/2/6;
    border-right: solid .2rem;
}
#stuffedGrapeLeavesDescription {
    grid-area: 2/5/3/6;
    border-right: solid .2rem;
}